<h3>BlackJack Game </h3>
<div class ="row">
		<div class = "game_section" id = "player_section">
			<h4><%= session[:player_name] %>'s cards</h4>
			<% session[:player_cards].each do |card| %>
				<%=cards_category(card)%>
			<%end%>
			<h4> Total = <%= cards_total(session[:player_cards]) %></h4>
		</div>
</div>

<% if @show_hit_stay %>
	<div class="row">
		<div class="span1">
			<form id = "hit" action = '/game' method = 'post'>
				<input type ="hidden" name = "player_hit" value = "true"/>
				<input type ="submit" class="btn btn-success" value="Hit" />
  		</form>
  	</div>
  	<div class="span1">
    	<form id="stay" action ="/game" method='post'>
    	  <input type= "hidden" name = "player_stay" value = "true"/>
    	  <input type = "hidden" name = "player_hit" value = "false"/>
  	 		<input type="submit" class="btn btn-warning" value="Stay" />
  		</form>
   	</div>
	</div>
<%end%>


<div class="row">
	<div class ="game_section" id = "dealer_section">
		<h4> Dealer's cards</h4>
		<% session[:dealer_cards].each_with_index do |card, i| %>
			<% if session[:turn]!="dealer" && i ==0 %>
				<img src = "/image/cards/cover.jpg" >
			<%else%>
    		<%=cards_category(card)%>
			<%end%>
		<%end%>
	</div>
</div>


<%if @dealer_going_to_hit%>
	<h5>Dealer has <%= cards_total(session[:dealer_cards]) %>
		<form action = '/game' method = 'post' >
		  <input type = "hidden" name = "dealer_hit" value = "true"/>
			<input type = "submit" class = "btn btn-primary" value = "click to see dealer's card"/>
		</form>

<%end%>


